* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  
}

ul {
  list-style: none;
}

/* Utilities */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  background-color: black;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover{
  color: #0000dd;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
}
