.btn-radius {
  border-radius: 80px!important;
}
.form-control{
  width: 18rem!important;
  padding-bottom: 0.5rem!important;
}
.form-group{
  margin-bottom: 0.5rem!important;
}
.btn-gradient-registry{
  background: linear-gradient(#dba999, #b32c2c) !important;
}
